<h3>Infos</h3>


            
<form [ngFormModel]="subscriptionForm" (submit)="validateForm()">
    
                <div class="row div-error" *ngIf="!subscriptionForm.valid&&showErrors">
                    <div class="col-lg-24">
                        <div class="has-error error-block">
                            <div class="errors-title">
                                <div class="error-img"></div>
                                <div class="error-msg">
                                    Des erreurs ont été détectées :
                                </div>
                            </div>
                            <ul>
                                <li class="help-block" *ngIf="isControlInvalid(name)"> 
                                    <a href="#msg-name">{{formErrors.name}} </a>
                                </li>
                                <li class="help-block" *ngIf="isControlInvalid(email)"> 
                                    <a href="#msg-email">{{formErrors.email}}  </a>
                                </li> 
                                <li class="help-block" *ngIf="isControlInvalid(director)"> 
                                    <a href="#msg-director">{{formErrors.director}} </a>
                                </li>                                                            
                            </ul>
                        </div>
                    </div>
                </div>      
                                 
                <div class="form-group" [ngClass]="{'has-error': isControlInvalid(name) }">
                    <label class="col-lg-24 col-md-24 control-label" for="inputMovieTitle">Name</label>

                    <div class="col-lg-24 col-md-24">
                        <input class="form-control" 
                                id="Name" 
                                type="text" 
                                placeholder="Name (required)" 
                                ngControl="name" />
                        <span class="help-block" *ngIf="isControlInvalid(name)">
                                {{getControlError("name")}}
                        </span>
                    </div>
                </div>
                <div class="form-group" [ngClass]="{'has-error': isControlInvalid(email) }">
                    <label class="col-lg-24 col-md-24 control-label" for="inputMovieTitle">Email</label>

                    <div class="col-lg-24 col-md-24">
                        <input class="form-control" 
                                id="Email" 
                                type="text" 
                                placeholder="Email (required)" 
                                ngControl="email" />
                        <span class="help-block" *ngIf="isControlInvalid(email)">
                                {{getControlError("email")}}
                        </span>
                    </div>
                </div>                
                <div class="form-group" [ngClass]="{'has-error': isControlInvalid(director) }">
                    <label class="col-lg-24 col-md-24 control-label" for="inputDirector">Director</label>

                    <div class="col-lg-24 col-md-24">
                        <input class="form-control" 
                                id="inputDirector" 
                                type="text" 
                                placeholder="Director (required)" 
                                ngControl="director" />
                        <span class="help-block" *ngIf="isControlInvalid(director)">
                                {{getControlError("director")}}
                        </span>
                    </div>
                </div>
  <button type="submit">Submit</button>
</form> 
<a [routerLink]="['/Dashboard']">link to dashboard component</a>
<br />
<a [routerLink]="['/Subscription/recap']">link to recap component</a>