<h3>Infos</h3>

<form [ngFormModel]="subscriptionForm" (submit)="saveUser()">
                        
                <div class="form-group" [ngClass]="{'has-error': formError.name&&name.touched }">
                    <label class="col-md-2 control-label" for="inputMovieTitle">Name</label>

                    <div class="col-md-8">
                        <input class="form-control" 
                                id="Name" 
                                type="text" 
                                placeholder="Name (required)" 
                                ngControl="name" />
                        <span class="help-block" *ngIf="formError.name&&name.touched">
                                {{formError.name}}
                        </span>
                    </div>
                </div>
                <div class="form-group" [ngClass]="{'has-error': formError.email&&email.touched }">
                    <label class="col-md-2 control-label" for="inputMovieTitle">Email</label>

                    <div class="col-md-8">
                        <input class="form-control" 
                                id="Email" 
                                type="text" 
                                placeholder="Email (required)" 
                                ngControl="email" />
                        <span class="help-block" *ngIf="formError.email&&email.touched">
                                {{formError.email}}
                        </span>
                    </div>
                </div>                
                <div class="form-group" [ngClass]="{'has-error': formError.director&&director.touched }">
                    <label class="col-md-2 control-label" for="inputDirector">Director</label>

                    <div class="col-md-8">
                        <input class="form-control" 
                                id="inputDirector" 
                                type="text" 
                                placeholder="Director (required)" 
                                ngControl="director" />
                        <span class="help-block" *ngIf="formError.director&&director.touched">
                                {{formError.director}}
                        </span>
                    </div>
                </div>
                        
  <!--                      
  <label for="email">Email</label>
  <input ngControl="email" id="email" />
  <div [hidden]="email.valid">Invalid</div>
  <div *ngIf="subscriptionForm.controls['email'].hasError('invalidEmailAddress')">Invalid Email</div>
  -->
  <button type="submit" [disabled]="!subscriptionForm.valid">Submit</button>
</form> 
<!--a href="#/Dashboard">link to dashboard component</a>
<a [routerLink]="['Dashboard']">link to dashboard component</a>-->
<a href="#/Dashboard">link to dashboard component</a>
<br />
<a [routerLink]="['/Subscription/recap']">link to recap component</a>